.register {
  margin: 20px 30px;
  padding: 10px;
  border-left: #ffe600 1px solid;
  border-right: #ffe600 1px solid;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.labelInputContainer {
  flex-grow: 1;
  width: 300px;
  margin: 10px;
}

.labelInputContainer input,
.labelInputContainer textarea {
  padding: 10px 20px;
}

.labelInputContainer input.notValid,
.labelInputContainer textarea.notValid {
  border-color: #af3030;
}

.labelInputContainer input,
.labelInputContainer textarea,
.labelInputContainer label {
  margin: 0;
  display: block;
  width: 100%;
}

.labelInputContainer .buttonSubmit,
.labelInputContainer .buttonCancel {
  margin: 0;
  padding: 10px 25px;
  font-size: 14px;
  width: unset;
  display: inline-block;
}

.labelInputContainer .buttonCancel {
  margin-left: 10px;
  background-color: transparent;
}

input.notValid,
textarea.notValid {
  border-color: #ff6400;
}
