.container {
  width: 100%;
  height: 35px;
  background-color: #ffe600;
  color: #202020;
  display: flex;
  justify-content: center;
  /* padding: 5px; */
}

.item {
  margin: 0 5px;
  flex-shrink: 1;
  min-width: 100px;
  color: #202020;
  background: none;
  border: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.item:hover {
  border-top: 1px solid #202020;
  border-bottom: 1px solid #202020;
}
