html {
  margin: 0;
  background-color: #202020;
  color: #ffe600;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 400;
}

::selection {
  background-color: #ffe600;
  color: #202020;
}

input,
textarea {
  background: black;
  border: #ffe600 1px solid;
  border-radius: 3px;
  margin: 0 5px;
  padding: 3px 5px;
  color: #ffe600;
}

input:focus,
textarea:focus {
  background-color: #202020;
  outline: none;
}

button,
input[type="submit"],
input[type="button"] {
  border-bottom: #ffe600 1px solid;
  color: #ffe600;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  color: rgb(255, 100, 0);
  border-color: rgb(255, 100, 0);
}
